################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
obj
Bin
/PrinterInfo/Debug
/CSharp.VC.db
